<div class="general">
<div class="center-head">
  <h2>Publicaciones de Búsqueda</h2>
</div>
<div id="react-posts-search"></div>
<% if (currentUser) { %><a href="<%= newSearchingPostPath %>" class="enlaceboton">Nuevo post de búsqueda</a> <% } %>
</div>

