<% if (notice) { %>
  <p><%= notice %></p>
<% } %>

<p>
  Hola <a href="<%= nameUrl('your-name-here') %>">Tu nombre aquí</a>.
</p>

<p>
  Puedes rellenar este formulario si desewas
  <form action="/hello" enctype="multipart/form-data" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="file" name="uploads" multiple="multiple"><br>
    <input type="submit" value="Subir">
  </form>
</p>
