<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>freelancerCL</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <ul class="topnav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/offeringPosts">Offering Jobs Posts</a></li>
      <li><a href="/searchingPosts">Searching Jobs Posts</a></li>
      <li><a href="/postulations">Applications</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/reports">Reports</a></li>
      <li class="right"><a href="/">About</a></li>
    </ul>
    <header>
      <div id="logo">
        <img id="freelancer-logo" src="<%= assetPath('logo.png') %>" alt="Logo" />
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
