<div class="general">
<div class="center-head">
  <h2>Publicaciones de Oferta</h2>
</div>

  <div id="react-posts"></div>
 
  <% if(currentUser) {%><a href="<%= newOfferingPostPath %>" class="enlaceboton">Nueva Oferta</a><% } %>
</div>

