html, body {
  margin: 0;
  padding: 0;
}

#freelancer-logo {
  border-top-left-radius: 30% 30%;
  border-top-right-radius: 30% 30%;
  border-bottom-right-radius: 30% 30%;
  border-bottom-left-radius: 30% 30%;
  padding: 30px;
  width: 150px;
  height: auto;
}

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right; background-color: #4CAF50;}






.topnav .search-container {
  float: right;
}

.topnav input[type=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=search], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=search] {
    border: 1px solid #ccc;  
  }
}

.topnav input[type=submit], .form-style-1 input[type=button]{
	background: #4CAF50;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.topnav input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4CAF50;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.user {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

