html, body {
  margin: 0;
  padding: 0;
}

#freelancer-logo {
  border-top-left-radius: 30% 30%;
  border-top-right-radius: 30% 30%;
  border-bottom-right-radius: 30% 30%;
  border-bottom-left-radius: 30% 30%;
  padding: 30px;
  width: 150px;
  height: auto;
}