#react-chat {
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
  font-size: 10px;
}