// .offeringPost-list {
//   // margin: 0 auto;
//   // max-width: 1000px;
//   // display: grid;
//   // grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
//   // // grid-template-columns: 1fr 1fr 1fr;
//   // box-sizing: border-box;
//   // grid-auto-rows: auto;
//   // gap: 20px;
//   // font-family: sans-serif;
//   // padding-top: 30px;
//   display: flex;
//   // flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }


// .offeringPost {
//   // display: ;
//   // box-sizing: border-box;
//   // margin: 2%;
//   // width: 30%;
//   // grid-column: 1 / 3;
//   display: inline-block;
//   // background: blue;
//   margin: 1%;
//   // flex-grow: 1;
//   // height: 100px;
//   width: 22.5%;
//   vertical-align: top;
// }




// .offeringPost__image {
//   width: 99%;
//   height: 150px;
//   // width: 150px;
//   // height: 150px;
//   object-fit: cover;
//   display: block;
//   border-top: 2px solid #333333;
//   border-right: 2px solid #333333;
//   border-left: 2px solid #333333;
// }

// .offeringPost__name {
//   // width: 100%;
//   height: 50px;
//   line-height: 1.5;
//   font-size: 1.5em;
//   padding: 15px;
//   background: #fafafa;
//   border-right: 2px solid #333333;
//   border-left: 2px solid #333333;
//   display: flex;
//   flex-grow: 1;
// }

// .offeringPost__content {
//   height: 150px;
//   line-height: 1.5;
//   font-size: 0.9em;
//   padding: 15px;
//   background: #fafafa;
//   border-right: 2px solid #333333;
//   border-left: 2px solid #333333;
//   display: flex;
//   flex-grow: 2;
// }
// // LA MAGIA TERMINA AQUÃ
// .offeringPost__extras {
//   padding: 15px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   color: #555555;
//   background: #eeeeee;
//   font-size: 0.8em;
//   border-bottom: 2px solid #333333;
//   border-right: 2px solid #333333;
//   border-left: 2px solid #333333;
// }


.cards {
  margin: 0 auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  height: 150px;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  
}

.card__content > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0; 
  overflow: hidden;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
  font-size: 1.2em;
}

.card__link:hover {
  text-decoration: underline;
}