<h2>Reports</h2>
<% if (!reportsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="reports-list">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% reportsList.forEach((report) => { %>
        <tr>
          <td><a href="<%= showReportPath(report)%>"><%= report.title %></a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>