<div class="general">
<div class="list">
  <span>Denuncias</span>
  <% if (!reportsList.length) { %>
  <p>No hay resultados</p>
  <% } else { %>
  <% reportsList.forEach((report) => { %>
  <div class="list-element">
    <div id="center">
      <div class="element-user">
        <a href="<%= showReportPath(report)%>"><%= report.title %></a>
      </div>
    </div>
  </div>
  <% })} %>
</div>
</div>