<div>
  <% if (locals.errors) { %>
    <div class="errors">
        <% errors.forEach(error => { %>
          <li class="validationError"><%= error.message %></li>
        <% }); %>
    </div>
  <% } %>
  <% if (passwordError) { %>
    <!-- <img src="../../../assets/images/error.png" width="100" height="100"/> -->
    <li class="validationError"><%= passwordError %></li>
  <% } %>
  <form class="form-style-1" action="<%= submitUserPath %>" method="post">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <% if (!currentUser) { currentUser = {};}%>
    <div id="react-name" data-username="<%= currentUser.name %>"> </div>
    <div id="react-email"> </div>
    <div id="react-occupation"> </div>
    <div id="react-confirmPassword"> </div>
    <div  class="field">
      <% if (user.isNewRecord) { %>
        <input type="submit" name="create" value="Registrar" />
      <% } else { %>
        <input type="submit" name="update" value="Actualizar" />
      <% } %>
    </div>
  </form>
</div>
